name: macOS

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  Debug:
    runs-on: macos-12

    steps:
    - uses: actions/checkout@v3
    
    - name: Install Dependencies
      shell: bash  
      run: |
        brew install cmake openssl gflags googletest gsasl 

    - name: Build
      run: |
        cmake -B ${{github.workspace}}/build -D BUILD_TESTING=ON -D CMAKE_BUILD_TYPE=RelWithDebInfo \
          -D ENABLE_SASL=ON -DOPENSSL_ROOT_DIR=/usr/local/opt/openssl@3
        cmake --build ${{github.workspace}}/build

    - name: Test
      working-directory: ${{github.workspace}}/build
      run: ctest --timeout 3600 -V
      
