name: macOS ARM

on:
  push:
    branches: [ "main", "release/*" ]
  pull_request:
    branches: [ "main", "release/*" ]

jobs:
  macOS14-arm:
    runs-on: macos-14

    steps:
      - uses: szenius/set-timezone@v1.2
        with:
          timezoneLinux: "Asia/Shanghai"
          timezoneMacos: "Asia/Shanghai"
          timezoneWindows: "China Standard Time"

      - uses: actions/checkout@v3

      - name: Install Dependencies
        shell: bash
        run: |
          brew install openssl gflags googletest gsasl

      - name: Build
        run: |
          cmake -B ${{github.workspace}}/build -D PHOTON_BUILD_TESTING=ON -D CMAKE_BUILD_TYPE=Release \
            -D PHOTON_ENABLE_SASL=ON -DOPENSSL_ROOT_DIR=/usr/local/opt/openssl@3 -D PHOTON_CXX_STANDARD=17
          cmake --build ${{github.workspace}}/build -j $(nproc)

      - name: Test
        working-directory: ${{github.workspace}}/build
        run: ctest -E test-lockfree --timeout 3600 -V
